/*
  NOTICE: ALL STYLES BELOW ARE MOBILE FIRST(576px AND BELOW).
  STYLES UNDER MEDIA QUERIES ARE FOR 576px AND UP.
*/


/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');



/*GLOBAL*/
body{
  color: #333;
}

p{
  font-size: 16px;
  line-height: 1.3em;
}

h1{
  font-size: 32px;
  line-height: 1.3em;
}

h2{
  font-size: 25px;
  line-height: 1.3em;
  color: #CA072D;
}

h3{
  font-size: 20px;
  line-height: 1.3em;
  color: #007fac;
}

h4{
  font-size: 16px;
  line-height: 1.3em;
  color: #ffcc00;
  text-transform: uppercase;
}

a{
  color: #CA072D;
  transition: all .30s ease;
}

a:hover{
  color: #87061f;
}

.dropdown-item:hover{
    background: #DCDCDC;
}

.spacer25{
  margin-bottom: 25px;
}

.spacer35{
  margin-bottom: 35px;
}

.spacer50{
  margin-bottom: 50px;
}

.row{
  padding-top: 25px;
  padding-bottom: 25px;
}

.yellow-box{
  background: #E0DABA;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

img{
  max-width: 100%;
  height: auto;
}



/*HEADER*/
header {
    border-top: 5px solid #ca072d;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-logo {
    width: 100%;
    max-width: 255px;
}

.slogan{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.slogan span{
  color: #d21034;
}

.dep-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
}

.desktop-search{
  display: none;
}




/*NAVIGATION*/
.bg-dark {
    background-color: #333333 !important;
}

.navbar-toggler span {
    font-size: 16px;
}

.nav-item {
    padding: 0 8px;
    font-size: 14px;
}

.dropdown-item {
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ffcc00;
}

.nav-link:hover {
    color: #ffcc00 !important;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




/*HERO*/
#hero {
  background: url('../images/hero-img.jpg') no-repeat;
  background-size: auto auto;
  background-size: cover;
  padding: 45px 0;
}

.hero-copy{
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  text-shadow: 2px 2px 1px #535353;
}

.sub-hero {
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 200;
}




/*POSTS*/
.post{
  background: #F7F7F7;
  border: 3px solid #F0F0F0;
  padding: 10px;
  display: block;
  margin-bottom: 25px;
}

.post img{
  float: left;
  margin: 0 15px 15px 0;
}

.post-meta{
  font-size: 12px;
}



/*MAIN CONTENT*/
#main{
  padding-top: 25px;
  padding-bottom: 25px;
}



/*SIDEBAR*/
.r-sidebar{
  background: #F7F7F7;
  border-top: 2px solid #c5c5c5;
  padding: 20px;
}

.widget{
  list-style-type: none;
}


/*TABS*/
/*---------- tab nav */
ul.tabs{
  margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	background: #dbdbdb;
	color: #333;
	display: inline-block;
	padding: 20px 35px;
	cursor: pointer;
  font-weight: bold;
  transition: all .30s ease;
}

ul.tabs li:hover{
  background: #e6e6e6;
}

ul.tabs li.current{
	background: #F7F7F7;
	color: #CA072D;
}

.tab-content{
	display: none;
	background: #F7F7F7;
	padding: 25px;
}

.tab-content.current{
	display: inherit;
}



/*Accordion*/
.card {
    margin-bottom: 3px;
}

.accordion-title{
  display: block;
  padding: 15px;
}

.card-header {
    padding: 0 !important;
}


/*FOOTER*/
footer{
  background: #444444;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li{
  margin-bottom: 10px;
}

footer li::after {
    color: #ffffff;
    content: ">>";
    font-size: 0.7em;
    margin-left: 6px;
    vertical-align: 1px;
}

footer a{
  color: #fff;
  font-size: 14px;
}

footer a:hover{
  color: #fff;
  text-decoration: underline;
}

.university-links{
  list-style-type: none;
  padding: 0;
}

.university-links li{
  display: inline-block;
  padding-right: 10px;
}

.bottom-bar{
  background: #000000;
  color: #fff;
  font-size: 12px;
}

.bottom-bar a{
  color: #ffcc00;
}

.copyright{
  font-size: 12px;
}

/*ICONS*/
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }




/*MEDIA QUERIES*/
/*
  Extra small devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .desktop-search{
    display: inline;
  }

  .mobile-search{
    display: none;
  }

  .dep-name {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
  }

  .hero-copy {
    font-size: 50px;
    text-shadow: 2px 2px 1px #535353;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #main{
    padding-top: 45px;
    padding-bottom: 45px;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
